.header {
  padding-top: 26px;
  padding-bottom: 50px;
  background-image: url(../images/bg-tablet.png);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -300px;
  position: relative;
}

.header .hero-button-2 {
  display: none;
}

@media screen and (min-width: 768px) {
  .header .hero-button-2 {
    display: block;
    width: 260px;
    padding: 14px 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.08em;
    color: #ff6b09;
    border: 2px solid #ff6b09;
    margin-right: 40px;
    text-align: center;
  }
}

@media screen and (min-width: 1280px) {
  .header .hero-button-2 {
    margin-right: 0;
    width: 336px;
    min-height: 70px;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.14em;
    padding: 27px 0;
  }
}

.header ul {
  list-style: none;
}

.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}

.header .nav .site-nav3 {
  display: none;
}

@media screen and (min-width: 1280px) {
  .header .nav .site-nav3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 60px;
  }
  .header .nav .site-nav3 .link {
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .header .nav .site-nav3 .link-item {
    color: #b9b9b9;
  }
  .header .nav .site-nav3 .link-item:hover, .header .nav .site-nav3 .link-item:focus {
    color: #ff6b09;
  }
  .header .nav .site-nav3 .link:not(:last-child) {
    margin-right: 40px;
  }
}

@media screen and (min-width: 768px) {
  .header .nav {
    width: 768px;
    margin-bottom: 84px;
  }
}

@media screen and (min-width: 1280px) {
  .header .nav {
    width: 1280px;
    margin-bottom: 45px;
  }
}

.header .nav .logo-img {
  margin-right: auto;
}

.header .nav .menu-button {
  background-color: inherit;
  border: 0;
  padding: 0;
}

@media screen and (min-width: 1280px) {
  .header .nav .menu-button {
    display: none;
  }
}

a {
  text-decoration: none;
}

ul {
  padding-left: 0;
}

html {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #858585;
  font-size: 11px;
  line-height: 20px;
  font-weight: 400;
}

.container {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 21, 24, 0.9);
  z-index: 1;
  overflow-y: scroll;
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop .modal .close-modal:hover,
.backdrop .modal .close-modal:focus {
  fill: #ff6b09;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
}

.modal .modal-box {
  position: relative;
  width: 320px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .modal .modal-box {
    width: 768px;
  }
}

.modal .modal-button {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.08em;
  display: block;
  width: 260px;
  color: #ff6b09;
  border: 2px solid #ff6b09;
  padding: 14px 0;
  margin-top: 50px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.modal .modal-button:hover, .modal .modal-button:focus {
  background-color: #ff6b09;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .modal .modal-button {
    display: none;
  }
}

.modal .close-modal {
  position: absolute;
  top: 26px;
  right: 0px;
  fill: #fff;
}

.modal .modal-site-nav {
  display: block;
  max-width: 260px;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
  margin-top: 50px;
}

.modal .modal-site-nav .link {
  font-weight: 800;
  font-size: 20px;
  letter-spacing: 0.03em;
}

.modal .modal-site-nav .link:hover, .modal .modal-site-nav .link:focus {
  color: #ff6b09;
}

.modal .modal-site-nav .link-item {
  color: #fff;
}

.modal .modal-site-nav .link-item:hover, .modal .modal-site-nav .link-item:focus {
  color: #ff6b09;
}

.modal .modal-site-nav .link:not(:last-child) {
  margin-bottom: 15px;
}

.modal .modal-img {
  margin-top: 30px;
  width: 80px;
  height: 28px;
}

.hero .hero-title {
  font-size: 20px;
  line-height: 29px;
  font-weight: 800;
  color: #18191d;
}

@media screen and (min-width: 768px) {
  .hero .hero-title {
    font-size: 26px;
    line-height: 33px;
    font-weight: 800;
    color: #18191d;
  }
}

@media screen and (min-width: 1280px) {
  .hero .hero-title {
    font-size: 48px;
    line-height: 58px;
    font-weight: 800;
    color: #18191d;
  }
}

.hero .hero-slogan {
  color: #b9b9b9;
  font-weight: 500;
  font-size: 15px;
  line-height: 17px;
  letter-spacing: 0.6px;
  margin-top: 30px;
  margin-bottom: 4px;
}

@media screen and (min-width: 1280px) {
  .hero .hero-slogan {
    font-size: 18px;
    line-height: 22px;
  }
}

.hero .hero-subtitle {
  width: 280px;
  color: #18191d;
  font-weight: 700;
  font-size: 15px;
  line-height: 17px;
  letter-spacing: 0.6px;
}

.hero .hero-subtitle b {
  color: #ff6b09;
}

@media screen and (min-width: 1280px) {
  .hero .hero-subtitle {
    font-size: 18px;
    line-height: 22px;
    width: auto;
  }
}

@media screen and (min-width: 768px) {
  .hero .hero-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.hero .hero-button {
  display: block;
  width: 250px;
  height: 48px;
  background-color: #ff6b09;
  color: #fff;
  font-weight: 700;
  font-size: 11px;
  text-transform: uppercase;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 14px 0;
}

@media screen and (min-width: 768px) {
  .hero .hero-button {
    margin-left: 0;
  }
}

@media screen and (min-width: 1280px) {
  .hero .hero-button {
    margin-top: 40px;
    height: 70px;
    letter-spacing: 1.8px;
    padding: 27px 0;
    width: 305px;
    font-size: 12px;
  }
}

.hero .hero-img {
  display: block;
  margin: 0 auto;
  width: 215px;
  height: auto;
}

@media screen and (max-width: 767px) {
  .hero .hero-img {
    width: 215px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 768px) {
  .hero .hero-img {
    width: 375px;
    margin-left: 50px;
  }
}

@media screen and (min-width: 1280px) {
  .hero .hero-img {
    width: 675px;
  }
}

.hero .hero-benefits {
  padding: 0 40px;
  margin-top: 77px;
}

@media screen and (min-width: 768px) {
  .hero .hero-benefits {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 115px;
    padding: 0;
  }
}

.hero .hero-benefits .title {
  font-size: 14px;
  line-height: 20px;
  color: #111518;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1280px) {
  .hero .hero-benefits .title {
    padding-top: 30px;
    min-width: 366px;
  }
}

.hero .hero-benefits .item {
  padding-left: 68px;
  position: relative;
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  color: #18191d;
}

@media screen and (min-width: 1280px) {
  .hero .hero-benefits .item {
    padding-left: 90px;
  }
}

.hero .hero-benefits .item:not(:last-child) {
  margin-bottom: 30px;
}

.hero .hero-benefits .item.icon1::before {
  background-image: url(./../images/icon1.png);
  content: '';
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  height: 60px;
  width: 60px;
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (min-width: 1280px) {
  .hero .hero-benefits .item.icon1::before {
    width: 100px;
    height: 100px;
  }
}

.hero .hero-benefits .item.icon2::before {
  background-image: url(./../images/icon2.png);
  content: '';
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  height: 60px;
  width: 60px;
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (min-width: 1280px) {
  .hero .hero-benefits .item.icon2::before {
    width: 100px;
    height: 100px;
  }
}

.hero .hero-benefits .item.icon3::before {
  background-image: url(./../images/icon3.png);
  content: '';
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  height: 60px;
  width: 60px;
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (min-width: 1280px) {
  .hero .hero-benefits .item.icon3::before {
    width: 100px;
    height: 100px;
  }
}
/*# sourceMappingURL=main.css.map */