.header {
  padding-top: 35px;
  padding-left: 20px;
  padding-right: 20px;

  ul {
    list-style: none;
  }

  .nav {
    width: 280px;
    display: flex;
    align-items: center;

    .logo-img {
      margin-right: auto;
    }

    .menu-button {
      background-color: inherit;
      border: 0;
      padding: 0;
    }
  }
}
