a {
  text-decoration: none;
}
ul {
  // list-style: none;
  padding-left: 0;
}

html {
  box-sizing: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

body {
  font-family: 'MontserratB', sans-serif;
  margin: 0;
}

.container {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
